<div class="container">
  <h1>Stupid Coaching</h1>

  <h2>Ask your coach anything:</h2>
  <div class="d-flex justify-content-md-center">
    <form action="answer" class="form-inline">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-success">
    </form>
  </div>
</div>

